# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv/
venv/
env/

# PyTorch
*.pt
*.pth
checkpoints/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/
*.npy
*.csv

# Wandb
wandb/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
